BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
IndentAccessModifiers: true
AccessModifierOffset: 0
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Attach
ColumnLimit: 0
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
  - Regex:           '^<.*>'
    Priority:        2
    SortPriority:    0
  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
SortIncludes: true
SpaceBeforeParens: ControlStatements
AlwaysBreakAfterDefinitionReturnType: None
EmptyLineBeforeAccessModifier: Never
DerivePointerAlignment: false
PointerAlignment: Left
